.auth-body {
    
    height: 400px;
    width: 400px;
    margin: 80px auto;
    border-radius: 10%;
    padding: 3px 3px 3px 3px;
}
.auth-field{
    height: 40px;
    width: 200px;
    border-radius:20px;
    border:none;
    box-shadow: 0 2px 8px black;
    padding: 5px 5px 5px 10px;
}
.register{
  background-color: rgb(246, 250, 246);
  height:400px;
   width:400px;
   border-radius: 10%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
}
.register-form{

    display: flex;
    flex-direction: column;
    align-items: center;
    height:340px;
    width:270px;
    justify-content: space-around;
    margin-top: 8px;
}
@media (max-width: 768px) {
    .auth-body {
        margin-top: 200px; 
    }
}